<mat-toolbar color="primary">
  <span>Pecunia</span>
</mat-toolbar>
<mat-grid-list cols="1">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">

    <p *ngIf="$monzoError">Not logged in.</p>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Accounts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let account of $accounts | async">
            <p>{{account.id}} - {{account.type}}</p>
            <p>{{account.description}}</p>
            <p>{{account.created}}</p>
            <p *ngIf="account.type == 'uk_retail'">{{account.account_number}}</p>
            <p *ngIf="account.type == 'uk_retail'">{{account.sort_code}}</p>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
